html, body {
    width: 100%;
    height: 100%;
    background-color: #161616;
}

.conNavbar {
    padding: 10px 10px;
}

.navbar {
    padding-left: 0px;
}

.nav-link {
    font-family: Roboto;
    color: white !important;
    font-weight: 400;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.nav-link:hover {
    color: #ff8d00 !important;
}

.pJobs {
    font-family: Roboto;
    color: #595959;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.4em;
}

.pGreetings {
    font-family: Roboto;
    color: #454343;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.1;
}

.pAboutme {
    font-family: Roboto;
    color: white;
    font-weight: 700;
    font-size: 52px;
    letter-spacing: .75px;
    line-height: 1;
}

.pJobs1 {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 15px #ffa500, 0 0 25px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
}

.pWant {
    font-family: Roboto;
    color: #595959;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .75px;
}

.card-body {
    background-color: #fafafa;
    padding-top: 40px;
    padding-bottom: 15px;
    min-height: 150px;
    max-height: 150px;
    position: relative;
}

.imgBookmark {
    position: absolute;
    top: 0px;
    right: 20px;
}

.card-title {
    font-family: Roboto;
    color: #212121;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
}

.card-date {
    font-family: Roboto;
    color: #595959;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 15px;
}

.card-footer {
    background-color: white;
    position: relative;
}

.pDesc {
    font-family: Roboto;
    color: #595959;
    font-weight: 400;
    font-size: 0.9rem;
    display: block;
    display: -webkit-box;
    max-width: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pBottom {
    font-family: Roboto;
    color: #595959;
    font-weight: 400;
    font-size: 0.8rem;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}